@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aqua;
}
.container{
    display: block;
    width: 450px;
    background-color: white;
    border-radius: 7px;
}
h2{
    font-size: 30px;
    font-weight: 500;
    padding: 18px 25px;
    border-bottom: 2px solid #ccc;
}
.content .word{
    margin: 24px;
    font-size: 37px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.content .details{
    margin: 25px 0 25px;
    /* background-color: #aaa; */
}
.details p{
    font-size: 18px;
    margin-bottom: 10px;
}
.details p b{
    font-weight: 500;
}
.content input{
    width: 409px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    height: 60px;
    outline: none;
    font-size: 18px;
    padding: 0 16px;
    border-radius: 5px;
    border: 1px solid #aaa;
}
.content .buttons{
    display: flex;
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 20px;
    justify-content: space-between;
}
.buttons button{
    /* margin-left: 20px; */
    border: none;
    outline: none;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    width: calc(100%/2 - 8px);
    font-size: 17px;
    border-radius: 5px;
}
.details .hint, .time{
    /* background-color: #aaa; */
    margin-left: 20px;
}
.buttons .refresh-word{
    background-color: #6c757d;
}
.buttons .check-word{
    background-color: #5372F0;
}

